/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #b8daf1;
  text-align: center;
}

/* Header */
.header {
  background-color: #7dbce7;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

/* About Section */
.about {
  padding: 20px;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  line-height: 1.5;
}

/* Labs Section */
.labs {
  padding: 20px;
}

.labs h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.lab-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.lab-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  background: #7dbce7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
  width: 100px;
  height: 100px;
}

.lab-icon:hover {
  background-color: #7dbce7;
  transform: scale(1.1);
}

.lab-icon i {
  font-size: 36px;
  margin-bottom: 10px;
}

.lab-icon p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}